.round {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;

  .test {
    background: blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 25%;
  }
}